name: Deploy

on:
  push:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install wasm-pack
      run: cargo install wasm-pack

    - name: Build
      run: wasm-pack build --target web --release --no-typescript --no-pack

    - name: Copy static content
      run: cp -v ./www/* ./pkg/

    - name: Delete unneeded files
      run: cd pkg && rm -v .gitignore README.md

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./pkg
